.App {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 6px;
  padding: 6px 14px;
  background: #ddd6f3; /* fallback for old browsers */
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App p {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-align: left;
}

.App h1,
h3,
i,
p {
  color: rgba(20, 40, 80, 1);
}

.App .row {
  margin: 10px 0;
}

.WeatherApp .form-control {
  margin: 0 0 0 12px;
}

.WeatherApp .search-button {
  margin: 0 0 0 15px;
}

.WeatherApp i {
  font-size: 22px;
}

.WeatherApp i:hover {
  color: rgba(20, 40, 80, 0.6);
}

.WeatherInfo h1 {
  font-size: 55px;
  display: inline;
  line-height: 1;
  margin: 0 0 0 10px;
}

.WeatherInfo h3 {
  margin: 20px 0 0 20px;
}

.WeatherInfo .active {
  cursor: default;
  color: rgba(20, 40, 80, 1);
}

.WeatherInfo .active:hover {
  text-decoration: none;
  color: rgba(20, 40, 80, 1);
}

.WeatherInfo .units {
  position: absolute;
  margin-left: 5px;
  top: -3px;
}

.footer {
  font-size: 16px;
  text-align: center;
}

.WeatherForecast canvas {
  margin: 5px auto;
}

.WeatherForecast p {
  line-height: 15px;
  text-align: center;
}

.WeatherForecast {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  margin: 8px auto;
}
